@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: rgb(131, 131, 131);
  background: linear-gradient(139deg, rgba(131, 131, 131, 1) 0%, rgba(70, 70, 70, 1) 81%, rgba(20, 20, 20, 1) 100%);
}

td,
th,
label,
a,
button {
  color: white;
  font-family: sans-serif;
}